@charset "UTF-8";


 /* index page xiaoxia ding*/
/* 2024-01-07 Embed youtube video style */
.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* navbar style */
.get-in-touch{
  background-color: #fb8500;
  padding-right: 20px; 
  padding-top: 7px;
  padding-bottom: 7px;
   /* padding-left: 10px; */

  color: rgba(255,255,255,1); 
  /* opacity: 1; */
  /* border-radius: 5px; */

}


.get-in-touch:hover{
  background-color: #FFB703;
}

.landing-name{
  font-size: 9em;
  display: inline-block;
  margin-top: 180px;
  padding-bottom: 0;
  font-family: 'Fredoka', sans-serif;
  line-height: auto;
  font-weight: 700;
}

.left{
  position: relative;
  left: 0;
  animation-name: left-flyin;
  animation-duration: 1.2s;
  animation-timing-function: ease-in;
}

.center{
  position: relative;
  top: 0;
  animation-name: center-flyin;
  animation-duration: 1.2s;
  animation-timing-function: ease-in;
}


.right{
  position: relative;
  right: 0;
  animation-name: right-flyin;
  animation-duration: 1.2s;
  animation-timing-function: ease-in;
}

@keyframes left-flyin {
  0% {
      left: -100px;
      opacity: 0;
  }

  100% {
      left: 0;
      opacity: 1;
  }
}

@keyframes center-flyin {
  0% {
      top: -50px;
      opacity: 0;
  }

  100% {
      top: 0;
      opacity: 1;
  }
}

@keyframes right-flyin {
  0% {
      right: -100px;
      opacity: 0;
  }

  100% {
      right: 0;
      opacity: 1;
  }
}
.ding{
  margin-top: 0;
  padding-top: 0;
  font-size: 9em;
  display: inline-block;
  font-family: 'Fredoka', sans-serif;
  line-height: auto;
}

/* Media query in Tablet and big screen */
@media (min-width: 768px) {
  .landingPage-mobile{
    display: none;
  }
  .col{
    display: flex;
  }
  .open{
    display: flex;
    flex-grow: 3;
  }
}
/* Media query in big screen */
@media (min-width: 992px) {
  .landing-name{
    font-size: 11em;
  }
  .ding{
    font-size: 11em;
  }
}



/* Index page change style in tablet and mobile */
@media (max-width: 768px) {
  body{
    background-color: #fff;
  }

  .card-heading{
  text-align: center;
  }
  .bg-dark{
    background-color: #023047 !important;
  }
  .navbar{
    margin: 1em;
  }

  .landingPage-mobile{
    margin-top: 89px;
    font-size: 34px;
    color: #000000;  
  }
  .mobileHead{
    padding-left: 46px;
    padding-right: 46px;
    font-weight: bold;
  }
  .headBody{
    font-size: 22px;
    padding-top: 55px;
    padding-bottom: 55px;
    font-weight: lighter;
  }

  .desktopIndex{
    display: none;
  }
  .custom-getInTouch-orange{
    width: 100%;
    background-color: #FB8500;
    color: white;
    font-size: 30;

  }

  .custom-footer{
    margin-top: 4rem; 
    margin-bottom: 1rem; 
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
  }
  .get-in-touch{
    display: none;
  }
}

div p {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.black-bar{
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #219ebc;
  width: 972px;
  height: 120px;
}

.black-bar:hover {
  background-color: #219ebc; /* Set the background color on hover */
}

/* marquee effect */
.marquee {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.marquee span {
  display: inline-block;
  padding-right: 50px; /* space between each line */
  animation: marquee 15s linear infinite;
}

.marquee-text{
  margin-bottom: 0px;
  flex: 0 0 auto;
  font-size: 1.3em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  line-height: 1.1em;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}


/* card display layout */

.projectName{
  /* padding: 18rem; */
  margin: 2rem;
  /* width: 100%; */
  /* background-color: #219ebc; */
  color: #fff;
}

.card-display-reminder{
  padding: 1rem;
  font-size: 28px;
  line-height: 1.14286;
  font-weight: 600;
  letter-spacing: .007em;
  margin-top: 2rem;
}
/* project detail page */
.xxd-col{
  float: left;
  width: 100%;
  padding: 3%;
  /* background-color: #aaa; */

}

/* customize buttons */

.btn-block{
  display: block;
  padding: 3%;
  margin-top: 1rem;
}

.above-button{
  padding: 5%;
  font-size: 20px;
  
  /* margin-top: 5rem; */

}

.code-container{
  width: 100px;
  height: 300px;
}


.custom-bt-dark-blue {
  background-color: #023047;
  color: #fff;
  border: #023047;
}

.custom-bt-dark-blue:hover {
  color: #fff;
  background-color: #219ebc;
  border-color: #219ebc;
}


.custom-bt-green-blue {
  background-color: #219ebc;
  color: #fff;
  border: #219ebc;
}

.custom-bt-green-blue:hover {
  color: #fff;
  background-color: #034464;
  border-color: #034464;
}

.custom-bt-bright-yellow {
  background-color: #ffb703;
  color: #fff;
  border: #ffb703;
}

.custom-bt-bright-yellow:hover {
  color: #fff;
  background-color: #F2AD00;
  border-color: #F2AD00;
}


.custom-bt-orange {
  background-color: #FB8500;
  color: #fff;
  border: #FB8500;
}

.custom-bt-orange:hover {
  color: #fff;
  background-color: #E87C00;
  border-color: #E87C00;
}
/*!

Stylesheet for Final Project
Date: 2022 - 12 - 14
Author: Xiaoxia Ding
Student#: 0471965
 */

footer {
  background: var(--primary);
  font-size: .75rem;
  padding: .5rem;
  text-align: center;
  color: #fff;
}

.li-border {
  margin: 0.5rem 0;
  color: grey;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

a:link {
  color: #fff;
  text-decoration: none;
}
  
/*a:visited {
    color: rgba(126, 87, 194, 0.7);
}*/
  
  /* mouse over link */
a:hover, a:active {

    /* padding: 0.5rem; */
    border-radius: 4px;
    background-color: #aaa;
}

.left-half{
  background: #aaa;
}
  
.right-half{
  background: orange;
}
/* Index page style */

.intro {
    font-size: calc(1.375rem + 1.5vw);
    padding: 8rem;
  }
  
.left-container {
padding-left: 1rem;
padding-right: 1rem; 
border-radius: 4px;
box-shadow: 0 0.5rem 1rem var(--bs-gray-200);
}

.Intro_Goal {
color: #fff;
height: 596px;
width: 100% !important;
font-size: 48px;
font-weight: 500;
line-height: var(--bs-body-line-height);
margin-bottom: 3rem;
padding: 5rem;
background-color: rgba(126, 87, 194, 0.7);
box-shadow:0 0.5rem 1rem rgb(0, 0, 0 / 15%);
overflow: auto;
border-radius: 4px;
text-align: center;
border-left: .5rem solid var(--primary);
align-items: center;
}

.intro-text {
margin-top: 4rem;
}

.credit {
    text-align: right;
}

.n-sizing {
margin-left: calc(-1 * var(--sizing));
margin-right: calc(-1 * var(--sizing));
/* color: #fff; */
padding: 1rem var(--sizing);
padding-left: var(--sizing);
padding-right: var(--sizing); 
background-color: rgba(126, 87, 194, .07);
border-radius: 4px;
box-shadow: 0 0.5rem 1rem rgb(0, 0, 0 / 15%);
}

.learning-heading {
font-size: 1.5rem;
text-transform: capitalize;
margin-left: 3rem;
margin-right: 3rem;
margin-bottom: 1rem;
margin-top: 1rem;
padding: .25rem 2rem .25rem 1rem;
border-left: .5rem solid var(--primary);
text-transform: uppercase;
font-weight: 500;
font-size: 1.5rem;
/* background: rgba(126, 87, 194, .07); */
}

.learning-sharing p {
/* display: list-item; 
background-color: var(--bs-secondary); */
text-align: left;
}

.learning-index {
margin: 2rem;
padding: 2.5rem;
border-radius: 4px;
box-shadow: 0 0.5rem 1rem var(--bs-gray-200);
}

div.padding-nothing {
margin-left: 0;
margin-right: 0;
}

.list-heading {
list-style: none;
font-size: 1rem;
display: flex;
font-weight: 700;
margin-bottom: 2px;
text-align: left;
}

.list-no-bullet {
list-style-type: none;
padding: 0;
margin: 0;
text-align: left;
}

hr {
margin: 0.5rem 0;
color: inherit;
background-color: currentColor;
border: 0;
opacity: 0.25;
}

hr:not([size]) {
height: 1px;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
margin-top: 0;
margin-bottom: 0.5rem;
font-weight: 500;
line-height: 1.2;
}

/* Resume Style */

h1, .h1 {
font-size: calc(1.375rem + 1.5vw);
padding: 8rem;
}

.name {
font-size: 4rem;
margin: 0 auto;
text-align:center;
margin-top: 4rem;
}

.flex-filled {
flex: 1;
}

.resume-header {
padding: 2rem 0;
background: var(--header-bg);
}

.avatar {
margin-right: 1rem;
display: block;
margin: 0 auto;
}

.student {
font-weight: 800;
}

.avatar img {
display: block;
border-radius: 50%;
padding: 4px;
border: 1px solid #aaa;
max-width: 164px;
margin: 0 auto;
}

.block {
margin: 3rem 0;
background: var(--block-bg);
padding: 1rem var(--sizing);
border-radius: 4px;
box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
text-align: left;
}

.block > header {
font-size: 1.5rem;
text-transform: capitalize;
margin-left: calc(-1 * var(--sizing));
margin-right: calc(-1 * var(--sizing));
padding: .25rem 2rem .25rem 1rem;
border-left: .5rem solid var(--primary);
text-transform: uppercase;
font-weight: 700;
font-size: 1.5rem;
background: rgba(126, 87, 194, .07);
text-align: left;
}

.block article {
padding: 1rem 0 1.5rem 0;
text-align: left;
}

.block article > h4 {
font-size: 1rem;
font-weight: 600;
text-align: left;
text-align: left;
}

.block article .body p {
margin-top: .5rem;
margin-left: 1rem;
display: list-item;
text-align: left;
} 

.block--exp article {
padding: var(--sizing);
text-align: left;
}

.block--exp > article + article {
border-top: 1px solid var(--separator-color);
text-align: left;
}

.tags > span {
display: inline-block;
margin: 0 4px 8px 0;
padding: 4px 16px;
font-size: .85rem;
background: rgba(126, 87, 194, 0.5);
border-radius: 16px;
box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
color: #333;
}

.tags > span.strong {
background: rgba(126, 87, 194, 0.7);
}

.tags > span.strong.x2 {
background: var(--primary);
}

.pr {
padding-right: 1rem;
}

.tc-main {
color: var(--primary);
}

.bg-main {
background: var(--primary);
}

.company {
display: flex;
align-items: baseline;
}

.company__name {
color: var(--primary);
font-weight: 600;
font-size: .9rem;
margin-left: .25rem;
}

.company__time {
margin-left: 1rem;
font-style: italic;
}